/*-----------------------

共通

------------------------*/

body {
  font-family: 'Lato', sans-serif;
  background-color:  #01073F;
  color: white;
}

img {
  max-width: 100%;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  margin-top:40px;
}

.text {
  font-family: 'sans-serif';
}

/*-----------------------

header

------------------------*/

.header {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
  padding: 16px 0;
  z-index: 60;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.h-menu a{
  text-align: center;
  display: block;
  padding: 16px;
  color: #aaa;
  transition: 0.5s;
  text-decoration: none;
}

.h-menu a:hover{
  color: #01073F;
  text-shadow:white 2px 0px 10px, white -2px 0px 10px,
  white 0px -2px 10px, white -2px 0px 10px,
  white 2px 2px 10px, white -2px 2px 10px,
  white 2px -2px 10px, white -2px -2px 10px,
  white 1px 2px 10px, white -1px 2px 10px,
  white 1px -2px 10px, white -1px -2px 10px,
  white 2px 1px 10px, white -2px 1px 10px,
  white 2px -1px 10px, white -2px -1px 10px,
  white 1px 1px 10px, white -1px 1px 10px,
  white 1px -1px 10px, white -1px -1px 10px,
  /* ここまで10px */
  white 10px 0px 20px, white -10px 0px 20px,
  white 0px -10px 20px, white -10px 0px 20px,
  white 10px 10px 20px, white -10px 10px 20px,
  white 10px -10px 20px, white -10px -10px 20px,
  white 5px 10px 20px, white -5px 10px 20px,
  white 5px -10px 20px, white -5px -10px 20px,
  white 10px 5px 20px, white -10px 5px 20px,
  white 10px -5px 20px, white -10px -5px 20px,
  white 5px 5px 20px, white -5px 5px 20px,
  white 5px -5px 20px, white -5px -5px 20px;
}

.line {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .h-menu {
    width: 100%;
  }

  h1 {
    padding: 16px 0;
  }

  ul{
      padding: 0;
  }
  
  li {
    width: 50%;
    border: 1px solid #d8d8d8;
  }

  .line {
    display: none;
  }
}

/*-----------------------

about

------------------------*/
.about-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: .5px solid white;
}

.about-area-img {
  width: 50%;
}

.about-area-img img {
  border-radius: 20%;
}

.about-area-decription {
  width: 50%;
  padding: 16px;
}

.about-area-decription-icon{
  display: flex;
  justify-content:space-around;
  padding-top: 16px;
}

.about-area-decription-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  transition: .5s;
}



.about-area-decription-icon a:hover {
  box-shadow: 0 0 10px #ddd,
              0 0 20px #ddd,
              0 0 40px #ddd,
              0 0 80px #ddd;
}

.fa-twitter {
  color:#1DA1F2;
  font-size: 50px;
}

.fa-youtube {
  color:#DA1725;
  font-size: 50px;
}

.fa-facebook-f {
  color: #1877f2;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .about-area-img {
    width: 100%;
  }

  .about-area-decription {
    width: 100%;
  }
}

/*-----------------------

service

------------------------*/

#Service {
  border-bottom: .5px solid white;
}

#Service > .row {
  position: relative;
}

#Service > .row > div:after {
  content: "";
  position: absolute;
  display: flex;
  width: .3px;
  height: 85%;
  background-color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#Service > .row > div:last-child:after {
  display: none;
}

#Service h3 {
  height: 2em;
  font-size: 24px;
  text-align: center;
  margin-bottom:40px;
}

.service-icon {
  margin: 0 auto 40px ;
  width: 2em;
  height: 2em;
  color:  #01073F; 
  text-align: center;
  font-size: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Service .text {
  padding: 16px;
}

@media screen and (max-width: 768px) {
  #Service .text {
    text-align: center;
  }

  #Service > .row > div:after ,#Service > .row > div:last-child:after {
    content: "";
    position: absolute;
    display: flex;
    width: .3px;
    height: 90%;
    background-color: white;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  #Service > .row > div:before{
    content: "";
    position: absolute;
    display: flex;
    width: .3px;
    height: 90%;
    background-color: white;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

/*-----------------------

Works

------------------------*/

#Works {
  border-bottom: .5px solid white;
}

#Works h3 {
  text-align: center;
  font-size: 16px;
}

#Works img {
  margin-bottom: 40px;
  border: 1px solid #d8d8d8;
}

#Works a img{
  transition: 0.5s;
}

#Works a img:hover{
  box-shadow: 0 0 10px #ddd,
              0 0 20px #ddd,
              0 0 40px #ddd,
              0 0 80px #ddd;
}

/*-----------------------

Contact

------------------------*/

.form {
  width: 400px;
  margin: 0 auto 40px;
}

label{
  display: block;
}

input {
  display: block;
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

.form_content {
  margin-bottom: 16px;
}

button {
  background-color: #01073F;
  border:  1px solid white;
  color: white;
  width: 250px;
  padding: 16px;
  text-align: center;
  margin: 0 auto;
  display: block;
  transition: 0.3s;
}

button:hover {
  background-color: #aaa;
  border:  1px solid #01073F;
  color: #01073F;
  box-shadow: 0 0 10px #ddd,
  0 0 20px #ddd,
  0 0 40px #ddd,
  0 0 80px #ddd;
}

/*-----------------------

footer

------------------------*/
footer {
  border-top: .5px solid white;
  font-family: 'sans-serif';
  text-align: center;
}